    {% load static %}
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 offset-md-2">
                     <div class="cont">
                        {% if error == True %}
                        <p>siz oldin ulangansiz</p>
                        {% endif%}
                        <h3> <span class="multi">Free Multipurpose </span> <br> Responsive Landing Page 2019</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is </p>
                     </div>
                     <form action="/add/" method="post" class="bottom_form">
                        {% csrf_token %}
                        <input class="enter" placeholder="Enter your email" type="email" required name="qoshilish">
                        <button class="sub_btn">subscribe</button>
                     </form>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>